version: '3.7'
services:
  postgres:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: USERNAME
      POSTGRES_PASSWORD: PASSWORD
      POSTGRES_DB: TABLENAME
    volumes:
      - db-data:/var/lib/postgresql/data/

  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - backend/app/.env
    depends_on:
      - postgres

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    stdin_open: true
    ports:
      - "3000:3000"

volumes:
  db-data:
